<p style="color: green"><%= notice %></p>
<div class= "margin-header">
<h1>Children</h1>

<%= link_to "New child", new_child_path %><br><br>
<div id="children">
  <% @children.each do |child| %>
   <p>
    <strong>Name:</strong>
    <%= child.name %>
  </p>
    <p>
      <%= link_to "Show this child", child %>
    </p>
  <% end %>
</div>
</div>

