<div class="jumbotron margin-header">
  <p style="color: green;"><%= notice %></p>
  <h1 class="display-4">Children</h1>

  <div id="children">
    <% @children.each do |child| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= child.name %></h5>
          <p class="card-text"><strong>Grade:</strong> <%= child.grade %></p>
          <a href="<%= child_path(child) %>" class="btn btn-light text-dark rounded-pill px-4 py-2">
            Show this child
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
