
<div style = "color: black ; text-align:center ">
<h1 style = "color: red ;  font-size:44px">Get School House</h1>
<h2> Right place to secure your <strong>"Child's Future"</strong></h2>
<h2> No need to worry about your child's acadmic session <br><br>
We are here to serve you with <strong>"Get School House"</strong> micro school system</h2>
<h2>Find pods for studying Near to your home</h2>
<h2>Be Carefull Be Safe</h2>
</div>