<div id="<%= dom_id pod_request %>">
  <p>
    <strong>Child:</strong>
    <%= pod_request.child_id %>
  </p>

  <p>
    <strong>Pod:</strong>
    <%= pod_request.pod_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pod_request.status %>
  </p>

</div>
