<h1>Editing pod request</h1>

<%= render "form", pod_request: @pod_request %>

<br>

<div>
  <%= link_to "Show this pod request", @pod_request %> |
  <%= link_to "Back to pod requests", pod_requests_path %>
</div>
