<h1>New Pod Request</h1>
  <p>Hello Dear Admin,</p>
  <p>A new pod request has been created:</p>
  
  <p>The Child: <%= @pod_request.child.name %> has aapplied for Pod: <%= @pod_request.pod.name %>Please take a look for Approval</p>
  
  <p>Please take the necessary actions to review and approve this request.</p>
  
  <p>Thank you!</p>