<h1>Your Pod Request has been Approved!</h1>
<p>Dear <%= @user.email %>,</p>
<p>Your pod request for <%= @pod.name %> has been approved for <%= @pod_request.child.name %></p>
<!-- Include any additional information you want to include in the email -->
