<h1>Your Pod Request has been Canceled</h1>
<p>Dear <%= @user.email %>,</p>
<p>We regret to inform you that your pod request of <%= @pod_request.child.name %> for <%= @pod.name %> has been canceled.</p>
<!-- Include any additional information you want to include in the email -->
