<h1>Your Pod Request</h1>
  <p>Hello <%= @user.email %>,</p>
  <p>Your pod request has been submitted successfully:</p>
  
  <p>Child Name: <%= @pod_request.child.name %></p>
  <p>Pod Name: <%= @pod_request.pod.name %></p>
  
  <p>We will review your request and notify you once it is approved.</p>
  
  <p>Thank you!</p>