<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Qualififcation:</strong>
    <%= teacher.qualififcation %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= teacher.grade %>
  </p>

</div>
