<p style="color: green"><%= notice %></p>

<h1>Teachers</h1>

<div id="teachers">
  <% @teachers.each do |teacher| %>
     <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>
  <p>
    <strong>Grade:</strong>
    <%= teacher.grade %>
  </p>
    <p>
      <%= link_to "Show this teacher", teacher %>
    </p>
  <% end %>
</div>

