<p style="color: green"><%= notice %></p>

<div>
<%= link_to "All Teachers", teachers_path %>
  </div> <br><br>
<%= render @teacher %>
 <%if @teacher.pod.present? %>
<%= link_to "Back to Pod", @teacher.pod %>
<%end%>
