<% if @approved_children.any? && @approved_children.count >=15  %>
   
  <h1> Pod is full</h1>
  <% elsif %>
  <h4>Children in this Pod: <%= @approved_children.count %></h4>
  <p>REMAINING children: <%= 15-@approved_children.count %></p>
  <% else %>
  <p>No children found for this pod.</p>
<% end %>